@use '../abstracts' as *;

.card {

    .button{                
        background-color: $clr-bright-yellow;        
        min-height: 3rem;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    a {
        min-width: 100%;
    }
}